@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.webbshop {
  .container {
    max-width: 700px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .shoppingContainer {
    z-index: 2;
    position: absolute;
    margin-left: -337px;
    color: white;
    background-color:rgba(2,30,112,0.8);
    padding: 10px;
  }

  .deleteIcon:hover {
    cursor: pointer;
  }

  .shoppingContainer ul {
    list-style: none;
  }

  .price {
    background-color: rgb(2, 30, 112);
    padding: 3px 6px 3px 6px;
    color: white;
    border-radius: 8px;
  }

  .itemLiStyle {
    display: inline;
    padding: 12px;
    float: left;
    line-height: 1.6;
  }

  .itemLiStyle img {
    border: 1px solid #d9d9d9;
    box-shadow: 1px 1px 8px 2px #f2f2f2;
  }
}